// Mixins Here

.btn() {
    background-color: @btn-bg-color;
    color:white;
    text-decoration:none;
    padding:10px 0px 10px 0px;
    border-radius:10%;
    font-size:2em;
    text-align: center;
   }

   .walk-img() {
    width: 46%;
    margin-left: 4%;
   }

   .walk-text() {
    width: 50%;
   }