// Navigation code here
nav {
    display: flex;
    justify-content: center;
    background-color: @sea-shell;
    
    a {
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        color: black;
        padding: 5px 10px 10px 10px;
     }
}

h1 {display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 2%;
    background-color: @sea-shell;
}